/*--------------------------------------------------*/
/******************** html, body ********************/
/*--------------------------------------------------*/

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../icons/project_papper.png");
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    padding: .5em;
}

/*--------------------------------------------------*/
/********************** header **********************/
/*--------------------------------------------------*/
header{
    text-align: center;
}
header a{
    background-color: black;
    color: white;
}
header input{
    width: 100%;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h2 a{
    color: black;
}
h2 img{
    width: 2vh;
}



/*----------------- Game-icons.net -----------------*/
#content ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
ul img{
    width: 10vh;
}
ul span{
    display: none;
}
p a{
    color: black;
}



/*--------------------- search --------------------*/





/*--------------------------------------------------*/
/********************** content *********************/
/*--------------------------------------------------*/




/*---------------------- h1,h2 ---------------------*/




/*---------------------- main ----------------------*/
main.content img{
    width: 10px;
}



/*---------------------- aside ---------------------*/
div.ArchiveDownloads{
    background-color: black;
}


/*--------------------------------------------------*/
/********************** footer **********************/
/*--------------------------------------------------*/

