* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #1abc9c;
    margin: 0;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 4px 4px rgba(0,0,0,0.2);
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

h2{
    text-align: left;
}

/********************* header *********************/
nav{
    background-color: yellow;
    border: 1px solid black;
    margin-top: 10px;
    
}

div.menu-content{
    visibility: hidden;
}
table{
    color: yellow;
    text-transform: uppercase;
    
}
table th, td{
    border-bottom: 1px solid yellow;
}

section a{
    background-color: yellow;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    color: black;
}



/********************** menu **********************/

/********************** main **********************/

/********************* section ********************/

/********************** aside *********************/
aside {
    text-align: left;
}

aside a {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    color: black;
}

div.noticia p {
    visibility: hidden;
}


/********************* footer *********************/
footer {
    background-color: black;
    color: yellow;
}
footer a {
    color: yellow;
    
}

/**************************************************/
/******************* responsive *******************/
/**************************************************/

@media screen and (min-width: 480px) {
    
}

@media screen and (min-width: 800px) {
    
}

@media screen and (max-width: 250px) {
    
}